.myweather .weathericon {
  font-size: 75%;
  line-height: 25px;
  display: inline-block;
  -ms-transform: translate(0, -3px);
  /* IE 9 */
  -webkit-transform: translate(0, -3px);
  /* Safari */
  transform: translate(0, -3px);
}
.myweather .day {
  padding-left: 0;
  # padding-right: 10px;
}
.myweather .vcen {
  vertical-align: top;
}
.myweather .weather-icon {
  padding-left: 0px;
  text-align: center;
  width: 40px;
}
.myweather .max-temp {
  padding-left: 0px;
  padding-right: 0;
}
.myweather .min-temp {
  # padding-left: 20px;
  # padding-right: 0;
}
.myweather .forecastText {
  # padding-left: 10px;
  # padding-right: 0;
  # word-wrap: break-word;
  # text-align: right;
  # rowspan: 0;
}
.myweather .tableheader {
  font-size: 80%;
  text-align: center;
}
.myweather .horizontal td, {
  text-align: center;
}
.myweather .pop {
  # font-size: 84%;
  display: none;
}
.myweather .mm {
  font-size: 75%;
  display: none;
}
.myweather .green {
  color: #83FFB3;
}
.myweather .yellow {
  color: yellow;
}
.myweather .red {
  color: #FF4C4C;
}
.myweather .center {
  text-align: center;
  padding-right: 10px;
}
.myweather .left {
  text-align: left;
}
.myweather .lpad {
  padding-left: 10px;
}
.myweather .currentWeatherIcon {
  font-size: 80%;
  line-height: 60px;
  display: inline-block;
  -ms-transform: translate(0, -3px);
  /* IE 9 */
  -webkit-transform: translate(0, -3px);
  /* Safari */
  transform: translate(0, -3px);
  width: 50%;
  height: 50%;
}
.myweather .forecastWeatherIcon {
  font-size: 60%;
  line-height: 50px;
  display: inline-block;
  width: 60%;
  display: block;
  margin: auto;
}
.myweather .moonPhaseIcon {
  height: 25px;
  vertical-align: middle;
}
.myweather .hrDivider {
  font-size: 30px;
}
.myweather .sub {
  vertical-align: sub;
  font-size: smaller;
}
.myweather .smaller {
  font-size: 70%;
}
.myweather .currentWeatherIconWrapper .currentWeatherIcon {
  max-width: 140px;
  max-height: 140px;
  width: auto;
  height: auto;
  margin: 0;
  vertical-align: top;
  -webkit-transform: none;
  transform: none;
  padding: 1%;
}
.myweather .vertical td.hourv, .myweather .vertical td.day {
  text-align: left;
  color: #FFF;
}
.myweather table.horizontal, .myweather table.horizontal {
  text-align: center;
  line-height: 1.5;
  font-size: 35px;
  font-weight: normal;
  margin-bottom: 30px;
}
.myweather table.horizontal .hour, .myweather table.horizontal .day {
  line-height: 35px;
  font-size: 35px;
  color: #FFF;
}
.myweather .min-temp {
  color: #6fc4f5;
}
.myweather .max-temp {
  color: #f8dd70;
}
.myweather .hourly-temp {
  color: #FFF;
}
